@import url(../../global.scss);

.import-service-third-section-component-prototype {
    text-align: center;
    margin-bottom: 11vh;
}

.import-service-third-section-component-prototype-first-content {
    font-family: 'Lexend', sans-serif;
    font-size: calc(10px + 4vmin);
    color: var(--var-color-component-UI-prototype-element-advanced);
    margin-bottom: 3vh;
    font-weight: bold;
}
.import-service-third-section-component-prototype-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 5%;
    justify-content: center;
    align-items: center;
}
.import-service-third-section-component-prototype-container_item {
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    display: flex;
    width: 350px;
    border-radius: 20px;
    height: 280px;
    flex-direction: column;
    justify-content: flex-start;
}
.import-service-third-section-component-prototype-container_item p {
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-size: 18px;
}
.import-service-third-section-component-prototype-container_item-first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 0;
    align-items: center;
    justify-content: flex-start;
    font-size: 21px;
}
.import-service-third-section-component-prototype-container_item-first h1 {
    padding-left: 12px;
    color: var(  --var-color-component-UI-prototype-element-black);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.import-service-third-section-component-prototype-container_item-first span {
    font-size: 55px;
    color: var(--var-color-component-UI-prototype-element-secondary);
}

@media only screen and (max-width: 768px) {
    .import-service-third-section-component-prototype-first-content {
        font-family: 'Lexend', sans-serif;
        font-size: calc(10px + 5.7vmin);
        color: var(--var-color-component-UI-prototype-element-advanced);
        margin-bottom: 3vh;
        font-weight: bold;
    }
    .import-service-third-section-component-prototype-container_item {
        margin: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;
        display: flex;
        width: 94%;
        border-radius: 20px;
        height: 280px;
        flex-direction: column;
        justify-content: flex-start;
    }
}